<div
  data-name="drawing-component"
  data-model-id={{this.modelID}}
  data-component-id={{this.componentID}}
  {{did-insert this.notifyReady}}
>
  <div data-name="drawing-component-div" data-component-id={{this.componentID}}>
    <CanvasC
      @actionToComponent={{this.actionFromCanvas}}
      @triggerCanvas={{this.triggerCanvas}}
      @canvasParams={{this.canvasParams}}
    />
  </div>
</div>