<section class="p-4">
  <ul class="list-group p-4">
    <li class="list-group-item p-2">
      <button
        class="btn-list-page btn btn-outline-secondary form-control p-3"
        role="button"
        type="button"
        onclick={{action "play" "do-d"}}
      >
        do - 1
      </button>
    </li>
    <li class="list-group-item p-2">
      <button
        class="btn-list-page btn btn-outline-secondary form-control p-3"
        role="button"
        type="button"
        onclick={{action "play" "re-d"}}
      >
        re - 2
      </button>
    </li>
    <li class="list-group-item p-2">
      <button
        class="btn-list-page btn btn-outline-secondary form-control p-3"
        role="button"
        type="button"
        onclick={{action "play" "mi-d"}}
      >
        mi - 3
      </button>
    </li>
    <li class="list-group-item p-2">
      <button
        class="btn-list-page btn btn-outline-secondary form-control p-3"
        role="button"
        type="button"
        onclick={{action "play" "fa-d"}}
      >
        fa - 4
      </button>
    </li>
    <li class="list-group-item p-2">
      <button
        class="btn-list-page btn btn-outline-secondary form-control p-3"
        role="button"
        type="button"
        onclick={{action "play" "sol-d"}}
      >
        sol - 5
      </button>
    </li>
    <li class="list-group-item p-2">
      <button
        class="btn-list-page btn btn-outline-secondary form-control p-3"
        role="button"
        type="button"
        onclick={{action "play" "lab-d"}}
      >
        la b - 6
      </button>
    </li>
    <li class="list-group-item p-2">
      <button
        class="btn-list-page btn btn-outline-secondary form-control p-3"
        role="button"
        type="button"
        onclick={{action "play" "la-d"}}
      >
        la - 7
      </button>
    </li>
    <li class="list-group-item p-2">
      <button
        class="btn-list-page btn btn-outline-secondary form-control p-3"
        role="button"
        type="button"
        onclick={{action "play" "sib-d"}}
      >
        si b - 8
      </button>
    </li>
    <li class="list-group-item p-2">
      <button
        class="btn-list-page btn btn-outline-secondary form-control p-3"
        role="button"
        type="button"
        onclick={{action "play" "si-d"}}
      >
        si - 9
      </button>
    </li>
  </ul>
</section>

<section class="col-12 col-md-9 mt-15">
  {{black-synthe-c}}
</section>