<div
  id={{this.id}}
  data-canvas-id="{{this.canvasParams.idElementCanvas}}"
  class="{{if
      this.showMenu
      'canvas-menu btn-group'
      'd-none canvas-menu btn-group'
    }}"
>
  <ul class="nav nav-pills text-black pt-2">
    <li class="nav-item">
      <button
        type="button"
        role="button"
        data-action-name="toggleAnimation"
        data-hide-cancel-buttons="1"
        data-close-menu="1"
        class="button-img button-play"
        title="{{tr "Play"}}"
        aria-label="{{tr "Play"}}"
        {{on "click" (fn this.menuToComponentAction @event)}}
      >
      </button>
    </li>
    <li class="nav-item">
      <button
        type="button"
        role="button"
        class="button-img button-reload"
        data-action-name="reload"
        data-hide-cancel-buttons="1"
        data-close-menu="1"
        title="{{tr "Reload"}}"
        aria-label="{{tr "Reload"}}"
        {{on "click" (fn this.menuToComponentAction @event)}}
      >
      </button>
    </li>
    <li class="nav-item">
      <button
        class="button-img button-fullscreen d-none d-md-block"
        type="button"
        role="button"
        data-action-name="fullScreen"
        data-hide-cancel-buttons="1"
        data-close-menu="1"
        title="{{tr "Full screen"}}"
        aria-label="{{tr "Full screen"}}"
        {{on "click" (fn this.menuToComponentAction @event)}}
      >
      </button>
    </li>
    <li class="nav-item">
      <button
        class="button-img button-resize-vertical d-none d-md-block"
        type="button"
        role="button"
        data-action-name="setLongCanvas"
        data-hide-cancel-buttons="1"
        data-close-menu="1"
        title="Portrait"
        aria-label="Portrait"
        {{on "click" (fn this.menuToComponentAction @event)}}
      >
      </button>
    </li>
    <li class="nav-item">
      <button
        class="button-img button-resize-horizontal d-none d-md-block"
        type="button"
        role="button"
        data-action-name="setLargeCanvas"
        data-hide-cancel-buttons="1"
        data-close-menu="1"
        title="{{tr "Enlarge"}}"
        aria-label="{{tr "Enlarge"}}"
        {{on "click" (fn this.menuToComponentAction @event)}}
      >
      </button>
    </li>
    <li class="nav-item">
      <button
        class="button-text"
        type="button"
        role="button"
        data-action-name="downloadJpeg"
        title="JPEG download"
        aria-label="JPEG download"
        {{on "click" (fn this.menuToComponentAction @event)}}
      >
        JPG
      </button>
    </li>
    <li class="nav-item">
      <button
        class="button-text"
        type="button"
        role="button"
        data-action-name="downloadPng"
        title="PNG download"
        aria-label="PNG download"
        {{on "click" (fn this.menuToComponentAction @event)}}
      >
        PNG
      </button>
    </li>
    <li>
      <button
        class="button-text"
        type="button"
        role="button"
        data-action-name="displayGrid"
        title="Grid"
        aria-label="Grid"
        {{on "click" (fn this.menuToComponentAction @event)}}
      >
        GRID
      </button>
    </li>
    <li
      class="{{if this.showCancel 'nav-item' 'nav-item d-none'}}"
      id="{{this.canvasParams.idElementMenu}}-li-cancel-action-1"
    >
      <button
        class="button-img button-cancel"
        type="button"
        role="button"
        data-action-name="displaySavedCanvas"
        title="Cancel"
        aria-label="Cancel"
        {{on "click" (fn this.menuToComponentAction @event)}}
      >
      </button>
    </li>
    <li
      class="{{if this.showCancel2 'nav-item' 'nav-item d-none'}}"
      id="{{this.canvasParams.idElementMenu}}-li-cancel-action-2"
    >
      <button
        class="button-img button-cancel"
        type="button"
        role="button"
        data-action-name="displayFirstSavedCanvas"
        data-hide-cancel-buttons="1"
        title="Cancel all"
        aria-label="Cancel all"
        {{on "click" (fn this.menuToComponentAction @event)}}
      >
      </button>
    </li>
    <li class="nav-item list-inline-item">
      <button
        type="button"
        role="button"
        class="button-text"
        data-action-name="hideMenu"
        title="close"
        {{on "click" (fn this.hideMenuAction @event)}}
      >
        X
      </button>
    </li>
  </ul>
  <ul
    class="{{if
        this.menuFor3D
        'nav nav-pills text-black pt-2'
        'nav nav-pills text-black pt-2 d-none'
      }}"
    id="{{this.canvasParams.idElementMenu}}-cmd-3d-list"
  >

    <li class="nav-item">
      <button
        class="button-img button-rotate d-none d-md-block"
        data-bs-toggle="collapse"
        href="#collapseRT"
        role="button"
        aria-expanded="false"
        aria-controls="collapseRT"
      >
        RT
      </button>
    </li>

    <li class="nav-item">
      <button
        type="button"
        role="button"
        class="button-img button-zoom d-none d-md-block"
        data-bs-toggle="collapse"
        href="#collapseZoom"
        role="button"
        aria-expanded="false"
        aria-controls="collapseZoom"
      >
        RT
      </button>
    </li>
  </ul>
  <ul
    class="{{if
        this.menuFor2D
        'nav nav-pills text-black pt-2'
        'nav nav-pills text-black pt-2 d-none'
      }}"
    id="{{this.canvasParams.idElementMenu}}-filters-list"
  >

    <li class="nav-item">
      <button
        type="button"
        role="button"
        class="button-img button-edge-detect d-none d-md-block"
        data-action-name="filter"
        data-type="edgeDetect"
        data-input-id="context-menu-input-text"
        data-option-element-id="item-option"
        data-id="filter-edge-detect"
        data-input-name="level"
        data-label="Edge detect"
        data-level="50"
        aria-label="Edge detection"
        title="Edge detection"
        {{on "click" (fn this.selectAction @event)}}
      >
      </button>
    </li>
    <li class="nav-item">
      <button
        type="button"
        role="button"
        class="button-img button-edge-detect-black d-none d-md-block"
        data-action-name="filter"
        data-type="edgeDetectInvert"
        data-input-id="context-menu-input-text"
        data-option-element-id="item-option"
        data-id="filter-edge-detect-invert"
        data-input-name="level"
        data-label="Edge detect 2"
        data-level="50"
        aria-label="Edge detect (black)"
        title="Edge detect (black)"
        {{on "click" (fn this.selectAction @event)}}
      >
      </button>
    </li>

    <li class="nav-item">
      <button
        type="button"
        role="button"
        class="button-img button-shadow d-none d-md-block"
        data-action-name="filter"
        data-type="drop-shadow"
        data-input-id="context-menu-input-text"
        data-option-element-id="item-option"
        data-id="filter-drop-shadow"
        data-input-name="level"
        id="filter-shadow"
        data-label="Shadow"
        data-level="15"
        title="Shadow"
        {{on "click" (fn this.selectAction @event)}}
      >
        Shadow
      </button>
    </li>

    <li class="nav-item">
      <button
        type="button"
        role="button"
        class="button-text d-none d-md-block"
        data-action-name="filter"
        data-type="monoColor"
        data-id="filter-color-tools"
        data-label="Mono color"
        data-input-name="colorTools"
        data-option-element-id="item-option-color-tools"
        {{on "click" (fn this.selectAction @event)}}
      >
        +
      </button>
    </li>

    <li class="nav-item">
      <button
        type="button"
        role="button"
        class="button-text d-none"
        data-action-name="rotation-y"
        data-type="rotation-y"
        data-input-id="context-menu-input-text"
        data-option-element-id="item-option"
        data-id="rotation-y"
        data-input-name="ry"
        id="rotation-y"
        data-label="y"
        data-ry="1"
        title="rotation Y"
        {{on "click" (fn this.selectAction @event)}}
      >
        RY
      </button>
    </li>
  </ul>
  <ul
    class="nav nav-pills text-black p-2 d-none list-inline"
    id="{{this.canvasParams.idElementMenu}}-item-option"
  >
    <li class="nav-item list-inline-item">
      <label
        class="form-label"
        for="{{this.canvasParams.idElementMenu}}-context-menu-input-text"
        id="span-label-{{this.canvasParams.idElementMenu}}-context-menu-input-text"
      >
      </label>
    </li>

    <li class="nav-item list-inline-item">
      <input
        class="form-control"
        id="{{this.canvasParams.idElementMenu}}-context-menu-input-text"
        data-name="level"
        type="text"
      />
    </li>

    <li class="nav-item list-inline-item">
      <button
        type="button"
        class="button-text"
        data-action-name="ok"
        {{on "click" (fn this.applySelectedAction @event)}}
      >
        OK
      </button>
    </li>
  </ul>

  <div
    class="d-none"
    id="{{this.canvasParams.idElementMenu}}-item-option-color-tools"
  >
    <ul class="nav nav-pills text-black p-2 list-inline">
      <li class="nav-item list-inline-item">
        <button
          class="button-img button-black-filter d-none d-md-block"
          type="button"
          role="button"
          data-action-name="filter"
          data-type="gaussian"
          title="Gray filter"
          aria-label="Gray filter"
          {{on "click" (fn this.menuToComponentAction @event)}}
        >
        </button>
      </li>

      <li class="nav-item list-inline-item">
        <button
          type="button"
          role="button"
          class="button-img button-colors-sepia d-none d-md-block"
          data-action-name="filter"
          data-type="sepia"
          data-input-id="context-menu-input-text"
          data-option-element-id="item-option"
          data-id="filter-sepia"
          data-input-name="level"
          id="filter-sepia"
          data-label="Sepia"
          data-level="100"
          title="Sepia"
          {{on "click" (fn this.selectAction @event)}}
        >
        </button>
      </li>
      <li class="nav-item list-inline-item">
        <button
          class="button-img button-colors-green-red d-none d-md-block"
          type="button"
          role="button"
          data-action-name="filter"
          data-type="RG"
          title="Red green"
          aria-label="Red green"
          {{on "click" (fn this.menuToComponentAction @event)}}
        >
          RG
        </button>
      </li>

      <li class="nav-item list-inline-item">
        <button
          class="button-img button-colors-green-blue d-none d-md-block"
          type="button"
          role="button"
          data-action-name="filter"
          data-type="GB"
          aria-label="Green blue"
          title="Green blue"
          {{on "click" (fn this.menuToComponentAction @event)}}
        >
          GB
        </button>
      </li>

      <li class="nav-item list-inline-item">
        <button
          class="button-img button-colors-red-blue d-none d-md-block"
          type="button"
          role="button"
          data-action-name="filter"
          data-type="RB"
          aria-label="Red blue"
          title="Red blue"
          {{on "click" (fn this.menuToComponentAction @event)}}
        >
          RB
        </button>
      </li>

      <li class="nav-item">
        <button
          type="button"
          role="button"
          class="button-img button-hue-rotate d-none d-md-block"
          data-id="filter-hue-rotate"
          data-action-name="filter"
          data-label="Hue rotate"
          data-input-name="level"
          data-input-id="context-menu-input-text"
          data-option-element-id="item-option"
          data-level="90"
          data-type="hue-rotate"
          title="Hue color rotation"
          {{on "click" (fn this.selectAction @event)}}
        >
          HR
        </button>
      </li>
      <li class="nav-item">
        <button
          type="button"
          role="button"
          class="button-img button-paint d-none d-md-block"
          data-action-name="filter"
          data-type="monoColor"
          data-id="filter-monocolor"
          data-label="Mono color"
          data-input-name="colorHexa"
          data-input-id="context-menu-input-color"
          data-option-element-id="item-option-color"
          data-color-hexa="#ffffff"
          {{on "click" (fn this.selectAction @event)}}
        >
          1C
        </button>
      </li>
      <li class="nav-item">
        <button
          type="button"
          role="button"
          class="button-text d-none d-md-block"
          data-action-name="filter"
          data-type="white-balance"
          data-input-id="context-menu-input-text"
          data-option-element-id="item-option"
          data-id="filter-white-balance"
          data-input-name="level"
          id="filter-white-balance"
          data-label="wb"
          data-level="50"
          title="White balance"
          {{on "click" (fn this.selectAction @event)}}
        >
          WB
        </button>
      </li>
      <li class="nav-item list-inline-item">
        <button
          class="button-img button-invert d-none d-md-block"
          type="button"
          role="button"
          data-action-name="filter"
          data-type="invert"
          title="Invert colors"
          aria-label="Invert colors"
          {{on "click" (fn this.menuToComponentAction @event)}}
        >
        </button>
      </li>
    </ul>
  </div>

  <ul
    class="nav nav-pills text-black p-2 d-none list-inline"
    id="{{this.canvasParams.idElementMenu}}-item-option-color"
  >
    <li class="nav-item list-inline-item">
      <label
        class="form-label"
        for="{{this.canvasParams.idElementMenu}}-li-context-menu-input-color"
        id="span-label-{{this.canvasParams.idElementMenu}}-context-menu-input-color"
      >
      </label>
    </li>

    <li
      class="nav-item list-inline-item"
      id="{{this.canvasParams.idElementMenu}}-li-context-menu-input-color"
    >
      <input
        type="color"
        name="context-menu-input-color"
        id="{{this.canvasParams.idElementMenu}}-context-menu-input-color"
        value="#8f1ea8"
        class="form-control form-control-color"
      />
    </li>

    <li class="nav-item list-inline-item">
      <button
        type="button"
        class="nav-link"
        data-action-name="ok"
        {{on "click" (fn this.applySelectedAction @event)}}
      >
        OK
      </button>
    </li>
  </ul>
  <div class="collapse" id="collapseZoom">
    <div class="card">

      <p>Position</p>

      <InputNumberPlusMinus
        @value={{1}}
        @min={{-12}}
        @max={{20}}
        @field={{"position3dX"}}
        @title={{"position3dX"}}
        @step={{"1"}}
        @typeRange={{true}}
        @componentID={{this.canvasParams.idElementMenu}}
        @plusMinusButtons={{true}}
      />

      <InputNumberPlusMinus
        @value={{1}}
        @min={{-12}}
        @max={{20}}
        @field={{"position3dY"}}
        @title={{"position3dY"}}
        @step={{"1"}}
        @typeRange={{true}}
        @componentID={{this.canvasParams.idElementMenu}}
        @plusMinusButtons={{true}}
      />
      <InputNumberPlusMinus
        @value={{1}}
        @min={{-12}}
        @max={{20}}
        @field={{"position3dZ"}}
        @title={{"position3dZ"}}
        @step={{"1"}}
        @typeRange={{true}}
        @componentID={{this.canvasParams.idElementMenu}}
        @plusMinusButtons={{true}}
      />

      <div class="input-group mb-3">
        <button
          type="button"
          role="button"
          class="button-img button-zoom d-none d-md-block"
          data-action-name="toggleZoomIn"
          title="zoom in"
          aria-label="zoom in"
          {{on "click" (fn this.menuToComponentAction @event)}}
        >
          Auto zoom
        </button>
      </div>
    </div>
  </div>
  <div class="collapse" id="collapseRT">
    <div class="card card-body">
      <p>Rotate</p>
      <div class="input-group mb-3">
        <label class="input-group-text" for="rotate-x">
          X
        </label>
        <input
          type="range"
          class="form-control"
          min="-20"
          max="20"
          id="rotate-x"
          name="rotate-x"
          data-input-id="rotate-x"
          data-input-name="rotateX"
          data-action-name="rotate-3d-x"
          data-action-arg1="x"
          {{on "change" (fn this.changeValue @event)}}
        />
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="zoom-3d-y">
          Y
        </label>
        <input
          class="form-control"
          type="range"
          min="-20"
          max="20"
          id="rotate-y"
          name="rotate-y"
          data-input-id="rotate-y"
          data-input-name="rotateY"
          data-action-name="rotate-3d-y"
          {{on "change" (fn this.changeValue @event)}}
        />
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="zoom-3d-y">
          Z
        </label>
        <input
          class="form-control"
          type="range"
          min="-20"
          max="20"
          id="zoom-3d-z"
          name="zoom-3d-z"
          data-input-id="zoom-3d-z"
          data-input-name="zoom3dZ"
          data-action-name="zoom-3d-z"
          {{on "change" (fn this.changeValue @event)}}
        />
      </div>
      <button
        class="btn btn-primary text-black"
        type="button"
        role="button"
        data-action-name="toggleAutoRotate"
        title="rotation"
        aria-label="rotation"
        {{on "click" (fn this.menuToComponentAction @event)}}
      >
        auto
      </button>

    </div>
  </div>
</div>