<div {{did-insert this.notifyReady}}>
  <div class="center">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-black text-white">
          <label
            class={{this.labelstyle}}
            for="{{this.componentID}}-{{this.field}}"
          >
            {{this.title}}
          </label>
        </div>
      </div>
      <input
        type="text"
        id="{{this.componentID}}-{{this.field}}"
        class="form-control text-primary input-text"
        value={{this.value}}
        name={{this.field}}
        placeholder="{{this.title}}"
        title="{{this.title}}"
        
      />
      <div class="input-group-append">
        <button
          type="button"
          role="button"
          class="text-center form-control btn-list-page btn btn-outline-secondary"
          
          data-action-name={{this.actionName}}
          {{on "click" (fn this.submitInputText @event)}}
        >
          {{this.oklabel}}
        </button>
      </div>
    </div>
  </div>
</div>