<article id="{{"componentID-1"}}" class="row mt-4 mb-4">
  <section class="col-12 col-md-10">
    <ImageManipulationC @componentID={{"componentID-1"}} @marginAutoComponent={{true}}
      @styleClassCanvas={{"border-gray"}}/>
  </section>
  <section class="col-12 col-md-2 mb-3">
    <Form::ImageColorF @componentID={{"componentID-1"}} />
  </section>
</article>
{{outlet}}