<div class="">
  <div
    class="min-height-card-post {{if this.loading 'loading' 'card-img-loaded'}}"
  >
    {{#if this.loading}}
      <div class="spinner-border m-5" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    {{else}}
      <div class="image-container-fluid">
        <figure id="image-wrapper">
          <img
            loading="lazy"
            data-bs-toggle="modal"
            data-bs-target="#deviant-modal-post-home"
            src="{{this.item.url}}"
            class="card-img-effect img-fluid"
            alt="{{this.item.title}} {{this.item.description}}"
            title="{{this.item.title}} {{this.item.description}}"
            {{on "load" this.imageLoadedHandler}}
          />
        </figure>
        <p class="d-none card-text mb-2">
          <button
            type="button"
            class="p-2 btn-list-sub-item card-title bg-black"
            data-bs-toggle="modal"
            data-bs-target="#deviant-modal-post-home"
          >
            {{this.item.date_y_m_d}}
          </button>
        </p>
      </div>

      <div
        class="modal fade"
        id="deviant-modal-post-home"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog bg-black">
          <div class="modal-content bg-black">
            <div class="modal-header">
              <h1
                class="modal-title fs-5"
                id="exampleModalLabel"
              >{{this.item.date_y_m_d}}</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <p class="card-text">
                <p class="card-text">
                  {{this.item.title}}.
                  <span>{{this.item.description}}</span>
                </p>
              </p>
              <figure class="mb-3">
                <a role="link" href="{{this.item.url}}">
                  <img
                    data-bs-toggle="modal"
                    data-bs-target="#deviant-modal-post-home"
                    src="{{this.item.url}}"
                    class="card-img-effect img-border img-fluid"
                    alt="{{this.item.title}} {{this.item.description}}"
                    title="{{this.item.title}} {{this.item.description}}"
                  />
                </a>
              </figure>
            </div>
            <div class="modal-footer">
              <a
                class="p-2 btn-list-sub-item card-title bg-black"
                role="link"
                href="{{this.item.link}}"
              >
                Source
              </a>
              <a
                class="p-2 btn-list-sub-item card-title bg-black"
                role="link"
                href="{{this.item.url}}"
              >
                Img
              </a>
              <button
                type="button"
                class="p-2 btn-list-sub-item card-title bg-black"
                data-bs-dismiss="modal"
              >X</button>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</div>