<ul class="list-group index-list index-main-list">
  <li class="list-group-item">
    <LinkTo class="special-cursor" role="link" @route="generative">
      {{t "Fractals"}}
    </LinkTo>
  </li>
  <li class="list-group-item">
    <LinkTo class="special-cursor" role="link" @route="illusions">
      {{t "Optical illusions"}}
    </LinkTo>
  </li>
  <li class="list-group-item">
    <LinkTo class="special-cursor" role="link" @route="curve.index">
      {{t "Curves"}}
    </LinkTo>
  </li>
  <li class="list-group-item">
    <LinkTo class="special-cursor" role="link" @route="surface">
      {{t "Surfaces"}}
    </LinkTo>
  </li>
  <li class="list-group-item">
    <LinkTo role="link" @route="maths">
      {{t "Numbers"}}
    </LinkTo>
  </li>
  <li class="list-group-item">
    <LinkTo class="special-cursor" role="link" @route="color">
      {{t "Colors"}}
    </LinkTo>
  </li>
</ul>