<div id="results">
  <button
    class="btn-list-page btn btn-outline-secondary m-2"
    role="button"
    type="button"
    data-action-name="play"
    {{on "click" (fn this.componentExecAction @event)}}
  >
    {{tr "Play"}}
  </button>
  <span class="m-2">
    |
  </span>
  <button
    class="btn-list-page btn btn-outline-secondary m-2"
    role="button"
    type="button"
    data-action-name="stop"
    {{on "click" (fn this.componentExecAction @event)}}
  >
    {{tr "Stop"}}
  </button>
  <span class="m-2">
    |
  </span>
  <button
    class="btn-list-page btn btn-outline-secondary m-2"
    role="button"
    type="button"
    data-action-name="new"
    {{on "click" (fn this.componentExecAction @event)}}
  >
    {{tr "New game"}}
  </button>
  <span class="m-2">
    |
  </span>
  <span class="text-success m-2" id="span-nb-points">
    0 pt
  </span>
  <span class="m-2">
    |
  </span>
  <span class="text-danger m-2" color="red" id="span-nb-lives">
    3
    {{tr "lives"}}
  </span>
  <span class="m-2">
    |
  </span>
  <span class="text-info" id="span-nb-info"></span>
</div>